.trip-list {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
}

.trip-list img {
    width: var(--image-width);
    height: var(--image-height);
    object-fit: cover;
}

.trip-add-button {
    background-color: var(--gray-100);
    width: var(--image-width);
    height: var(--image-height);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: larger;
}

.trip-add-button:hover {
    background-color: var(--gray-200);
    cursor: pointer;
}

.trip-add-button-plus {
    font-size: 3rem;
}
