.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal__label-text p span {
    color: red;
}
.modal__body {
    border-radius: .25rem;
    background-color: white;
    width: 40%;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal__header {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal__content {
    border-top: 1px solid var(--gray-200);
    border-bottom: 1px solid var(--gray-200);
    padding: 2.5rem 1.5rem 3.5rem;
}
.modal__footer {
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.modal__header-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.modal__close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    cursor: pointer;
}

.modal__close:hover {
    color: rgba(0, 0, 0, 0.6);
}

.modal__end-datepicker-label {
    margin-bottom: .5rem;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__selector {
    width: 100%;
}

.modal__datepicker {
    width: 100%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal.show {
    display: block;
}

.modal_button-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
