@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --gray-100: #f0f0f0;
  --gray-200: #d9d9d9;
  --gray-300: #9e9e9e;

  --blue-100: #6eb8ff;
  --blue-300: #0069c9;

  --purple-100: #a6a6ff;
  --purple-200: #7c7cff;

  --red-100: #ff6666;

  --green-100: #66ff66;

  --yellow-100: #ffff66;

  --white: #ffffff;
  --black: #000000;

  --image-width: 17rem;
  --image-height: 15rem;
}

::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--purple-100);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:  var(--purple-200);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-align: inherit;
  outline-color: var(--blue-100);
}
